

html, body {
  margin: 0;
  font-family: "Merriweather", serif;
  color: #131511;
  width: 100%;
  height: 100vh;
  background-color: #f2f1e8;


}

.wrapper{
	display:flex;
	flex-direction: column;
	width: 100%;
  z-index: auto;
}

nav{
	background-color: #ffffff;
	background-image: url(./img/bent-creek-logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-origin: content-box;
	padding: 20px;
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.63);



}

nav ul{
	display: flex;
	justify-content: center;
}


nav ul{
	list-style: none;
	padding: 0;
}

nav a{
	color: #2b2f26;
    font-size: 16px;
    text-align: center;
    text-decoration: underline;
    transition-duration: 0.3s;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
	  padding: 10px 40px 10px;
}

nav a:hover{
	color: #cd5d67;
	}

nav a:active{
	color: #968772;
}


.ed{
  display: flex;
  flex-direction: column;
  margin: 0 40px 0 40px;

}

/*.top_frame{
	width: 75%;
	height: 340px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: nowrap;
	margin-bottom: 40px;
	margin-top: 60px;
}*/


.poss {
  display: flex;
  flex-basis: 60%;
	background-image: url(./img/product-1.jpg);
	background-size: cover;
	}



.bottom_frame{
	width: inherit;
	height: inherit;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: nowrap;
	margin-bottom: 70px;

}

span{
	color: white;
	background-color: #2b2f26;
	padding: 20px;
	display: block;
}



h1{
    font-size: 28px;
    font-weight: 200;
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
}


h2{
    line-height: 1.25em;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;


}

h4{
    font-weight: 200;
    font-size: 33px;
    text-align: center;
    margin: 0px 0 10px 0;
    padding: 0 0 px 0;


}

h3{
    font-weight: 500;
    font-size: 65px;
    text-align: center;
    margin: 40px 0 0px 0;
    padding: 0 0 0px 0;


}

input[type=text]{
	width: 98%;
	padding: 20px 0px 5px 0px;
	margin-bottom: 20px;
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid red;
	border-bottom: 2px solid #968772;
	font-size: 20px;


}

input[type=email]{
	width: 98%;
	padding: 20px 0px 5px 0px;
	margin-bottom: 40px;
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid #968772;
	font-family:"Roboto", sans-serif;
	font-size: 20px;


}

input:focus{
	background-color: #967343;
}

.button{
	background-color: #968772;
	padding: 15px 30px;
	border: none;
	color: #f2f1e8;
	text-align: center;
	font-family: "Roboto",sans-serif;
	font-size: 18px;
	transition-duration: 0.2s;


}

.button:hover{
	background-color: #967343;
	color: #ffffff;

}



footer {
	background: #333;
    display: block;
    color: f2f1e8;
    text-align: left;
    font-size: 14;
    padding: 25px 50px;
    margin-top: 70px;
}


.top_frame {
  background-color: #F2F1E8;
  align-items: center;
  margin-left: 30px;
  display: flex;
  justify-content: space-around;
  width: 95vw;
  height: 34.8vh;
}

.pic_1 {
  display: flex;
  align-items: flex-end;
  background-image: url(./img/product-1.jpg);
  background-size: cover;
  width: 56.9vw;
  height: 32.9vh;
}

.tag_1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2.3vh;
  margin: 1.4vw 0vh 1.4vw 0vh;
  font-family: "Merriweather", serif;
  color: #F2F1E8;
  background-color: #333333;
  width: 19.5vw;
  height: 7vh;
}

.pic_2 {
  display: flex;
  align-items: flex-end;
  background-image: url(product-2.jpg);
  background-size: cover;
  width: 18.3vw;
  height: 32.9vh;
}

.tag_2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2.3vh;
  margin: 1.4vw 0vh 1.4vw 0vh;
  font-family: "Merriweather", serif;
  color: #F2F1E8;
  background-color: #333333;
  width: 12vw;
  height: 7vh;
}

.pic_3 {
  display: flex;
  align-items: flex-end;
  background-image: url(product-3.jpg);
  background-size: cover;
  width: 18.3vw;
  height: 32.9vh;
}

.tag_3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2.3vh;
  margin: 1.4vw 0vh 1.4vw 0vh;
  font-family: "Merriweather", serif;
  color: #F2F1E8;
  background-color: #333333;
  width: 12vw;
  height: 7vh;
}

.bottom_frame {
  background-color: #F2F1E8;
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-left: 30px;
  width: 95vw;
  height: 22.5vh;
}


.pic_4 {
  display: flex;
  align-items: flex-end;
  background-image: url(product-4.jpg);
  background-size: cover;
  width: 18.3vw;
  height: 20.7vh;
}

.tag_4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2.3vh;
  margin: 1.4vw 0vh 1.4vw 0vh;
  font-family: "Merriweather", serif;
  color: #F2F1E8;
  background-color: #333333;
  width: 12vw;
  height: 7vh;
}

.pic_5 {
  display: flex;
  align-items: flex-end;
  background-image: url(product-5.jpg);
  background-size: cover;
  width: 18.3vw;
  height: 20.7vh;
}

.tag_5 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2.3vh;
  margin: 1.4vw 0vh 1.4vw 0vh;
  font-family: "Merriweather", serif;
  color: #F2F1E8;
  background-color: #333333;
  width: 17vw;
  height: 7vh;
}

.pic_6 {
  display: flex;
  align-items: flex-end;
  background-image: url(product-6.jpg);
  background-size: cover;
  width: 37.5vw;
  height: 20.7vh;
}

.tag_6 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2.3vh;
  margin: 1.4vw 0vh 1.4vw 0vh;
  font-family: "Merriweather", serif;
  color: #F2F1E8;
  background-color: #333333;
  width: 18vw;
  height: 7vh;
}

.pic_7 {
  display: flex;
  align-items: flex-end;
  background-image: url(product-7.jpg);
  background-size: cover;
  width: 18.3vw;
  height: 20.7vh;
}

.tag_7 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2.3vh;
  margin: 1.4vw 0vh 1.4vw 0vh;
  font-family: "Merriweather", serif;
  color: #F2F1E8;
  background-color: #333333;
  width: 17vw;
  height: 7vh;
}
